*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
/* header */
.header, .promo{
    background-color: #e9e9e9;
}
.header__block{
    padding-top: 40px;
    padding-bottom:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    max-width: 630px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-menu{
    max-width: 630px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.link-nav{
    text-decoration: none;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #191919;
    transition: .3s all;
}
.link-nav:hover{
    color: #10c9c3;
}
/* promo */
.promo{
    background:url(../img/promo.jpg) no-repeat left / cover;
    background-position: 0 0;
    margin-top: -110px;
}
.promo-2{
    background: #F6F6F6;
}
.promo__block{
    padding-top: 171px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 203px;
}
.promo__block-text{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.text-promo{
    max-width: 474px;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 38px;
}
.text{
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #787878;
}
.title-promo{
    font-size: 38px;
    line-height: 48px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #1d1d1d;
}
.button{
    max-width:220px;
    width: 100%;
    padding: 24px 45px;
    border:none;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    background-color: #10c9c3;
    border: 1px solid #10c9c3;
    transition: .4s all ;
}
.button:hover{
    background-color: unset;
    color: #10c9c3;
    border: 1px solid #10c9c3;
}
/* about */
.about__block{
    padding-top: 98px;
    padding-bottom: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-about{
    padding-top: 41px;
    padding-bottom: 37px;
    max-width:620px;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #787878;
}
/* skill */
.skill{
    background: linear-gradient(to right, #f8f9f9 50%, #e9e9e9 50%);
    display: flex;
    justify-content:space-between;
}
.img-skill-block{
    width: 50%;
}
.skill-img{
    width: 100%;
    height: 100%;
}
.skill__block{
    padding-top: 165px;
    padding-bottom: 102px;
    padding-left: 100px;
}
.title-skill{
    padding-bottom: 39px;
}
.text-skill{
    display: block;
    padding-bottom: 63px;
    text-transform: uppercase;
    position: relative;
}
.text-skill:before {
  content: '';
  position: absolute;
  width:500px;
  bottom:40px;
  height:3px;
  background-color: #d8d8d8;
}
.text-skill-1:after {
  content: '';
  position: absolute;
  bottom:40px;
  left: 0;
  width:337px;
  height:4px;
  background:#10C9C3;
}
.text-skill-2:after {
  content: '';
  position: absolute;
  bottom:40px;
  left: 0;
  width:430px;
  height:4px;
  background:#10C9C3;
}
.text-skill-3:after {
  content: '';
  position: absolute;
  bottom:40px;
  left: 0;
  width:280px;
  height:4px;
  background:#10C9C3;
}
/* num */
.num{
    background-color: #10c9c3;
}
.num__block{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
}
.text-card-up{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.text-card{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
}
.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.card-1{
    background: url(../img/portfolio.svg) no-repeat left / 40px;
    padding-left: 67px;
}
.card-2{
    background: url(../img/clock.svg) no-repeat left / 40px;
    padding-left: 67px;
}
.card-3{
    background: url(../img/star.svg) no-repeat left / 40px;
    padding-left: 67px;
}
.card-4{
    background: url(../img/like.svg) no-repeat left / 40px;
    padding-left: 67px;
}
/* imgs */
.imgs{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
}
.img-box{
    width:25%;
    position: relative;
}
.img{
    width: 100%;
    height: 100%;
}
.img-box:hover::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#141414 url(../img/look.svg) no-repeat center / 48px;
    opacity: 0.85;
}
/* text-imgs */
.text-imgs{
    background-color: #f5f5f5;
    padding-top: 45px;
    padding-bottom: 47px;
}
.text-img{

    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #8e8e8e;
}
/* work */
.work__block{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-work{
    max-width: 510px;
    width: 100%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #787878;
    padding-bottom: 55px;
    padding-top: 41px;
}
.video{
    width: 100%;
    padding-top: 243px;
    padding-bottom: 243px;
    background: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/code.jpeg) no-repeat center / 100%;
}
.play{
    width: 85px;
    height: 85px;
    background-color: #10c9c3;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.play-span{
    text-align: center;
    color: #fff;
    padding-left: 5px;
    font-size:30px;
}
/* servies */
.servies{
    padding-top: 103px;
    padding-bottom:40px;
    background:#F5F5F5;
}
.img-servies{
    width: 40px;
}
.cards-servies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card-servies{
    padding-bottom: 60px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    cursor: pointer;
}
.title-card-servies{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #191919;
}
.text-card-servies{
    max-width: 230px;
    width: 100%;
    text-align: center;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #787878;
}
/* clients */
.clients__block{
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* bid */
.bid{
    background: #f5f5f5;
}
.bid__block{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-bid{
    padding-top: 35px;
    padding-bottom: 37px;
    text-align: center;
    font-size: 16px;
    max-width:537px;
    width: 100%;
}
.input-box{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 29px;
}
.input{
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 21px;
    outline: none;
    border:none;
}
.input:nth-child(1){
    max-width: 322px;
    width: 100%;
    margin-right: 19px;
}
.input:nth-child(2){
    max-width: 322px;
    width: 100%;
}
.input:nth-child(3){
    margin-top: 29px;
    margin-bottom: 29px;
    max-width:671px;
    width: 100%;
}
.input:nth-child(4){
    max-width:671px;
    width: 100%;
    padding-bottom: 141px;
}
/* footer */
.footer{
    background-color: #141414;
    color: #ffffff;
}
.footer__block{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}
.title-footer{
    font-size: 18px;
    line-height: 72px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #ffffff;
}
.text-footer{
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #bcbcbc;
}
.footer-box{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.footer-contact{
    display: flex;
    flex-direction: column;
}
.footer-contact:nth-child(1){
    padding-right: 146px;
}
.footer-contact:nth-child(2){
    padding-right:55px;
}
.footer-contact:nth-child(3){
    padding-right:135px;
}
.link-footer{
    text-decoration: none;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #bcbcbc;
}
.link-footer:hover{
    color: #ffffff;
    font-size: 16px;
    transition: .3s all;
}
/* slider */
.wrapper{
    background-color: #10c9c3;
}
.title-slider{
    padding-top: 179px;
    padding-bottom: 35px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #ffffff;
}
.text-slider{
    font-size: 12px;
    line-height: 36px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
}
/* Собственно сам слайдер */
.slider{
    max-width:100%;
    position: relative;
    margin: auto;
    height: 501px;
    margin-bottom: 15px;
}
/* Заголовок слайда */
.slideText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* Кружочки */
.slider-dots {
    text-align: center;
    padding-bottom: 60px;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #ffffff;
}
/* Анимация слайдов */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/* home */
.header-2{
    background-color: #fff;
}
.text__block{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title-text{
    font-size: 38px;
    line-height: 84px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #171717;
}
.text-text{
    max-width: 512px;
    width: 100%;
    text-align: center;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #787878;
}
.img-box-2:hover::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#10C9C3 url(../img/look.svg) no-repeat center / 48px;
    opacity: 0.85;
}
.nav-header-2{
    max-width: 215px;
    width: 100%;
}
.link-nav:hover{
    color:#10c9c3;
}
/* about */
.about-2{
    background:linear-gradient(0deg, rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)),url(../img/about.jpg) no-repeat center / cover;
}
.skill-2{
    display: flex;
}
.about__block-2 , .text-about-2{
    color: #ffffff;
}
/* skill */
.skill-2{
    background: linear-gradient(to right, #e9e9e9 50%, #f8f9f9 50%);
}
.skill__block-2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    text-align: left;
}
.text-skills-2{
    max-width: 454px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #787878;
    padding-bottom: 20px;
}
.img-sin{
    padding-top: 17px;
}
/* contact */
.contact{
    background:#f5f5f5;
}
.contact__block{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.text-contact{
    max-width: 369px;
    width: 100%;
    padding-top: 43px;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #787878;
}
.input__block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 671px;
}
.input-2{
    width: 100%;
}
.desc-contact{
    display: flex;
    flex-direction: column;
    padding-top: 36px;
}
/* project */
.project-info{
    padding-top: 10px;
    font-size: 18px;
    color: #787878;
}
.project-info-title{
    color: #000000;
}
.slider-2{
    background:#f7f6f7;
    position: relative;
    margin-bottom:70px;
}
.slider-2 input[name="switch"] {
  display: none;
}
.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}
.switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 5px solid #2f363c;
  background-color: #738290;
}
#btn1:checked~.switch label[for="btn1"] {
  background-color: white;
}
.slider-inner {
  overflow: hidden;
}
#btn1:checked~slider-inner .slides-2 {
  transform: translate(0);
}
.slider__block{
    display: flex;
    justify-content: space-between;
}
.desc-slider{
    padding-top: 100px;
}
.sloder-img{
    width: 50%;
}
/* адаптация */
@media(max-width:1200px){
    .container{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(max-width:1080px){
    .text-skill:before {
       width: 300px;
    }
    .text-skill-1:after {
        width:217px;
    }
    .text-skill-2:after {
        width:277px;
    }
    .text-skill-3:after {
        width:187px;
    }
    .num__block{
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .card{
        width: 50%;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    .cards-2 > .card-servies,
    .card-servies{
        width: 50%;
    }
}
@media(max-width:720px){
    .container{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .header__block{
        align-items: flex-start;
    }
    .link-logo{
        display: none;
    }
    .promo{
        margin-top: 0;
        background:linear-gradient(0deg, rgba(51, 51, 51, 0.1), rgba(51, 51, 51, 0.7));
    }
    .skill__block{
        display: flex;
        flex-direction: column;
    }
    .skill-2{
        display: flex;
        flex-direction: column;
        background: unset;
    }
    .skill__block-2{
        padding-left: 10px;
        align-items: center;
    }
    .text-skill:before {
       width: 200px;
    }
    .text-skill-1:after {
        width:117px;
    }
    .text-skill-2:after {
        width:177px;
    }
    .text-skill-3:after {
        width:87px;
    }
    .services{
        padding-top: 40px;
    }
    .title-slider{
        padding-top: 100px;
        font-size: 24px;
    }
    .slider{
        height: 400px;
    }
      .footer__block , .footer-box{
        padding-top: 20px;
        padding-bottom: 10px;
        flex-direction: column;
    }
    .footer-contact{
        margin-bottom:20px;
    }
}
@media(max-width:568px){
    .container{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .link-logo{
        display: block;
    }
    .skill{
        display: flex;
        flex-direction: column;
        background:unset;
    }
    .img-skill-block{
        width: 100%;
        height: 100%;
    }
    .skill__block{
        padding-top: 50px;
        padding-bottom: 0;
    }
    .skill-img{
        width: 100%;
        height: 100%;
    }
    .burger-menu{
        position: relative;
        width: 40px;
        height: 40px;
        background:url(../img/menu.svg) no-repeat center /20px;
    }
    .nav-header{
        display: none;
    }
    .nav-header-2{
        flex-direction:column;
        align-items: flex-end;
    }
    .burger-menu:hover{
        background:url(../img/cancel.svg) no-repeat top / 20px #10c9c3;
        background-position-y:10px;
        min-height: 600px;
    }
    .burger-menu:hover > .nav{
        position: absolute;
        top: 0px;
        right:39px;
        width:400px;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #10c9c3;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .link-nav{
        color: #ffffff;
        font-size: 20px;
    }
    .link-nav:hover{
        color: #000000;
    }
    .desc-slider{
        padding-top: 30px;
    }
    .slider__block{
        flex-direction: column;
    }
    .sloder-img{
        width: 100%;
        padding-top: 20px;
    }
    .link-nav-2{
        color: #191919;
    }
    .nav-header{
        flex-direction: column;
        align-items: flex-end;
        max-width: 400px;
        width: 100%;
    }
    .promo__block, .about__block{
        padding-top: 50px;
        padding-bottom: 50px;
    }
     .card{
        margin: auto;
        width:100%;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    .img-clients{
        width:20%;
    }
    .footer__block , .footer-box{
        padding-top: 20px;
        padding-bottom: 10px;
        flex-direction: column;
    }
    .footer-contact{
        margin-bottom:20px;
    }
}
@media(max-width:441px){
    .card-servies{
        width: 100%;
    }
    .burger-menu:hover{
        min-height:500px;
    }
    .burger-menu:hover > .nav{
        position: absolute;
        top: 0px;
        right:39px;
        width:250px;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #10c9c3;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .title-slider{
        padding-top: 50px;
        font-size: 20px;
    }
    .slider{
        height: 340px;
    }
    .link-nav-2{
        color: #191919;
    }
    .img-clients{
        width:20%;
    }
    .img-clients:nth-child(4){
        display: none;
    }
    .footer__block , .footer-box{
        padding-top: 20px;
        padding-bottom: 10px;
        flex-direction: column;
    }
    .footer-contact{
        margin-bottom:20px;
    }
}


